extends common\layout

block content
    p Dies ist der Einstellungsbereich. Hier kann der angemeldete User seine Daten verwalten.

    div(class="h6")="Persönliche Informationen"
    div(class="h6")="Sicherheitseinstellungen"
