extends common\layout

block content 
    form(method="POST")
        div(class="container")
            if second_try
                div(class="alert alert-warning")
                    span(class="bi bi-exclamation-triangle-fill")="  "
                    span!=error_msg
            div(class="row p-2")
                div(class="col-md-auto")
                    label(for="usernameInput")="Benutzernamen:"
            div(class="row p-2")
                div(class="col-md-auto")
                div(class="col")
                    input(type="text" class="form-control" name="usernameInput" placeholder="Benutzernamen" required  autocomplete="given-name")
            div(class="row p-2")
                div(class="col-md-auto")
                    label(for="passwordInput")="Passwort:"
            div(class="row p-2")
                div(class="col-md-auto")
                div(class="col")
                    input(type="password" class="form-control" name="passwordInput" placeholder="Passwort" required autocomplete="current-password")
            div(class="row p-2 d-flex justify-content-center")
                input(type="submit" class="btn btn-primary m-2 w-25" value="Login")
                input(type="reset"  class="btn btn-primary m-2 w-25" value="Reset")