extends common\layout

block content 
    form
        div(class="container")
            div(class="row p-2")
                div(class="col-md-auto")
                    label(for="usernameInput")="Username:"
            div(class="row p-2")
                div(class="col-md-auto")
                div(class="col")
                    input(type="text" class="form-control" id="usernameInput" placeholder="Username")
            div(class="row p-2")
                div(class="col-md-auto")
                    label(for="passwordInput")="Password:"
            div(class="row p-2")
                div(class="col-md-auto")
                div(class="col")
                    input(type="password" class="form-control" id="passwordInput" placeholder="Password")
            div(class="row p-2 d-flex justify-content-center")
                input(type="submit" class="btn btn-primary m-2 w-25 min-width-" value="Login")
                input(type="reset"  class="btn btn-primary m-2 w-25" value="Reset")