extends common\layout

block content 
    form(method="POST")
        div(class="container")
            div(class="row p-2")
                div(class="col-md-auto")
                    label(for="usernameInput")="Username:"
            div(class="row p-2")
                div(class="col-md-auto")
                div(class="col")
                    input(type="text" class="form-control" name="usernameInput" placeholder="Username" required)
            div(class="row p-2")
                div(class="col-md-auto")
                    label(for="passwordInput")="Password:"
            div(class="row p-2")
                div(class="col-md-auto")
                div(class="col")
                    input(type="password" class="form-control" name="passwordInput" placeholder="Password" required)
            div(class="row p-2")
                div(class="col-md-auto")
                    label(for="aliasInput")="Alias:"
            div(class="row p-2")
                div(class="col-md-auto")
                div(class="col")
                    input(type="text" class="form-control" name="aliasInput" placeholder="Alias" required)
            div(class="row p-2 d-flex justify-content-center")
                input(type="submit" class="btn btn-primary m-2 w-25" value="Register")
                input(type="reset"  class="btn btn-primary m-2 w-25" value="Reset")