doctype html
html(data-bs-theme="dark")  
    head
        include header/header.pug
        
    body
        include navbar/navbar.pug
        div(class="container content-center p-2" style="min-height: 80vh;")#content_container
            h2(class="border-bottom p-2")=headline
            block content
        include footer/footer.pug