div(class="flex-fill")#Login_Container
    ul(class="nav list-inline  justify-content-end")
      li(class="nav-item p-1")
        button(class="bi bi-box-arrow-in-right btn btn-primary btn-sm" OnClick="location.href='/user/login'")=" Login"
      li(class="nav-item p-1")
        button(class="btn btn-primary btn-sm" OnClick="location.href='/user/register'")="Registrieren"