extends ..\common\layout

block content
    form(method="POST")
        include post_editor\post_editor
        div(class="row p-2 d-flex justify-content-center")
                input(type="submit" class="btn btn-primary m-2 w-25" value="Erstelle Beitrag")
                input(type="reset"  class="btn btn-primary m-2 w-25" value="Zurücksetzen")


        
    